.color-picker {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  // height: 284px;
  user-select: none;
  cursor: default;

  .pointer {
    will-change: top, left;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  .huewheel {
    position: relative;
    width: 260px;
    height: 260px;
    // flex-grow: 1;
    border-color: transparent;
    border-radius: 50%;
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);

    .satoverlay {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle closest-side, rgb(255, 255, 255), transparent);
    }
  }

  .slider {
    position: relative;
    height: 24px;
    border-radius: 12px;
    will-change: background-image;
  }

  .interactive {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    outline: none;
    // Don't trigger the default scrolling behavior when the event is originating from this element
    touch-action: none;
  }
}
